@media screen {}

header {
    min-height: 30vh;
}

nav {
    height: 5vh;
}

footer {
    text-align: center;
    height: 5vh;
}

.content {
    margin: auto;
    min-height: 50vh;
    text-align: left;
    justify-content: left;
    width: 50vw;
}

.content h1 {
    text-align: center;
}